body {
	padding-top: 5%;
	padding-bottom: 5%;
}
#social {
	margin-top: 12%;
}
.panel-primary > .panel-heading {
	background: #00B2A9;
}
#social-img {
	height: 60px;
	width: 60px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
}